<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
                  arguments="-jar &quot;D:\home\site\wwwroot\sprint04-0.0.1-SNAPSHOT.jar&quot;"
                  startupTimeLimit="20"
                  stdoutLogEnabled="true"
                  stdoutLogFile="D:\home\LogFiles\java.stdout.log" />
  </system.webServer>
</configuration>